{% extends 'base.html.twig' %}

{% block title %}Stadium Xchange{% endblock %}

{% block body %}
<div class="container">
<div class="header">
    <div class="sell-ticket">VENDRE MON TICKET</div>
    <div class="logo">
        <img src="{{ asset('images/logo.png') }}" alt="Stadium Xchange">
    </div>
    <div class="login">
        <a href="{{ path('login') }}">M'IDENTIFIER</a>
    </div>
</div>


    <div class="tickets">
        {% for ticket in tickets %}
            <div class="ticket">
                <h2>{{ ticket.home_team }} vs {{ ticket.away_team }}</h2>
                <p>Date: {{ ticket.date_time }}</p>
                <p>Stade: {{ ticket.stadium }}</p>
                <p>Price: {{ ticket.price }}€</p>
            </div>
        {% endfor %}
    </div>

        
    </div>
</div>
{% endblock %}
