{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {# <link rel="stylesheet" href="{{ asset('css/style.css') }}"> #}
    <link rel="icon" type="image/x-icon" href="{{ asset('images/icon.png') }}">
{% endblock %}

{% block body %}
<div class="container mt-5">
    <header class="text-center mb-4">
        <div class="logo">
            <a href="{{ path('app_home_page') }}">
                <img src="{{ asset('images/logo.png') }}" alt="Stadium Xchange" class="img-fluid" style="max-width: 200px;">
            </a>
        </div>
    </header>

    <div class="log-container">
        <div class="log-form">
            <h1>Créer un compte</h1>
            <p>Déjà un compte? <a href="{{ path('login') }}" class="create-account-link">Se connecter</a></p>
            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm, { 'attr': {'novalidate': 'novalidate'} }) }}
            <div class="form-group">
                {{ form_row(registrationForm.firstname, {
                    'label': 'Prénom',
                    'attr': {'class': 'form-control'}
                }) }}
            </div>

            <div class="form-group">
                {{ form_row(registrationForm.lastname, {
                    'label': 'Nom de famille',
                    'attr': {'class': 'form-control'}
                }) }}
            </div>

            <div class="form-group">
                {{ form_row(registrationForm.email, {
                    'label': 'Email',
                    'attr': {'class': 'form-control'}
                }) }}
            </div>

            <div class="form-group">
                {{ form_row(registrationForm.plainPassword, {
                    'label': 'Mot de passe',
                    'attr': {'class': 'form-control'}
                }) }}
            </div>

            <div class="form-group form-check">
                {{ form_row(registrationForm.agreeTerms, {
                    'label': 'J\'accepte les termes et conditions',
                    'attr': {'class': 'form-check-input'},
                }) }}
            </div>

            <button type="submit" class="btn btn-primary btn-block">Créer mon compte</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
</div>
{% endblock %}
