{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/register.css') }}">
{% endblock %}

{% block body %}
<!-- Header contenant le logo -->
<div class="header">
    <a href="{{ path('HomePage') }}">
        <img src="{{ asset('images/logo.png') }}" alt="Stadium XChange Logo">
    </a>
</div>


<!-- Container pour le contenu du formulaire -->
<div class="container">
    <div class="register-form">
        <h1>Créer un compte</h1>
        <p>Déjà un compte ? <a href="{{ path('login') }}" class="login-link">Login</a></p>

        <!-- Formulaire d'inscription -->
        <form action="{{ path('register') }}" method="post">
            <div class="form-group">
                <label for="name">Nom</label>
                <input type="text" id="name" name="name" placeholder="Nom" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Email" required>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" placeholder="Mot de passe" required>
            </div>

            <!-- Bouton de soumission -->
            <button type="submit">S'inscrire</button>
        </form>
    </div>
</div>
{% endblock %}
