{% extends 'base.html.twig' %}

{% block title %}CardDetails index{% endblock %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="{{ asset('images/icon.png') }}">
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center">CardDetails Index</h1>

    <table class="table table-bordered mt-4">
        <thead class="table-light">
            <tr>
                <th>Id</th>
                <th>Card Number</th>
                <th>Expiration Date</th>
                <th>Cryptogram</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for card_detail in card_details %}
            <tr>
                <td>{{ card_detail.id }}</td>
                <td>{{ card_detail.cardNumber }}</td>
                <td>{{ card_detail.expirationDate ? card_detail.expirationDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ card_detail.cryptogram }}</td>
                <td>{{ card_detail.firstname }}</td>
                <td>{{ card_detail.lastname }}</td>
                <td>
                    <a href="{{ path('app_card_details_show', {'id': card_detail.id}) }}" class="btn btn-info btn-sm">Show</a>
                    <a href="{{ path('app_card_details_edit', {'id': card_detail.id}) }}" class="btn btn-warning btn-sm">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7" class="text-center">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-center mt-4">
        <a href="{{ path('app_card_details_new') }}" class="btn btn-primary">Create New</a>
    </div>
</div>
{% endblock %}