{% extends 'base.html.twig' %}

{% block title %}Nouvelle CB{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/log.css') }}">
{% endblock %}
{% block body %}
<div class="container">
    <header>
<div class="logo">
    <a href="{{ path('app_home_page') }}">
        <img src="{{ asset('images/logo.png') }}" alt="Stadium Xchange">
    </a>
</div>
    </header>
    <div class="log-container">
     <div class="log-form">
    <h1>Ajouter une nouvelle carte</h1>
<div class="form-group">
    {{ include('card_details/_form.html.twig') }}
</div>
    {# <a href="{{ path('app_ticket_index') }}">back to list</a> #}
          </div>
     </div>
    </div>
{% endblock %}






